.font-md {
  font-size: 18px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}
.mb-lg {
  margin-bottom: 150px !important;
}
.pb-lg {
  padding-bottom: 150px !important;
}



.header {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  height: 165px;
}

.menu-nav {
    display: block;
    text-align: center;
    width: 100%;
    visibility: visible;

    &__ul{
      position: relative;
      display: inline-block;
      width: auto;
      text-align: left;
      margin: 0;
    }
    
    &__li {
      display: inline-block;
      // margin-top: 4px;
      margin-top: 12px;
      position: relative;

      & a {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        // text-decoration: none;
        background: transparent;
        text-align: center;
        transition: 0.3s;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 1.5px solid #fff;
          color: #fff;
        }
      }
    }
    
    &__li:not(:last-child) {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 33px; 
        transform: translateY(-50%);
        width: 1px;
        height: 85%;
        background: #4d4d4d
      }
    }
    
    &__link {
      color: black;
      text-decoration: none !important;
      background-color: transparent;
      line-height: 1.5;
      margin-right: 60px;
      padding-bottom: 16px;
      
      & span {
        font-size: 0.8rem;
      }  
    }
}

.hd-info {
  display: block;
  visibility: visible;
  color: #fff;
  // z-index: 400;

  &__right {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  &__box1 {
    text-align: right;
    
     & > p {
      margin-bottom: 0;
    }
  }

  &__box2 {
    text-align: right;

    & figure {
      display: inline;

      &:hover {
        transition: 0.3s;
        opacity: 0.7;
      }
    }
  }
}

.mobile-menu {
  display: none;
  &__btn {
      display: none;
  }
}

.swiper {
  position: relative;
  height: 100vh;
  width: 100%;
  // max-height: 300px; //最大の高さ
  // min-height: 250px; //最小の高さ
}

.swiper-slide {
  &__title {
    top: 44%;
    transform: translate(-50%, calc(-50% + 20px));
  }
}

// ここまでheader



// ここからmain

.text {
  &.ma {
    text-align: center;
    margin-top: 10px;
  }
  & br {
    display: block;
  }
}

.top1, .top2, .top3 {
  margin-bottom: 20px;
}

.col {
  max-width: 640px;
  margin: auto;
}


// ここまでmain



// ここからfooter

.footer {
  padding-top: 30px;
  & nav {
    float: none;
    width: 100%;
  }
  & ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: normal;
  }
  & li {
    line-height: 1.5;
    white-space: normal;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    border: 0;

    &:not(:first-child)::before {
      content: "|";
      margin-right: 0.3em;
      margin-left: 0.3em;
    }
  }
  & a {
    display: inline-block;
    padding: 0.3em;
  }
}

.pagetop {
  & a {
    width: 67px;
    height: 67px;
  }
}

.inview{
  & .pagetop {
    bottom: -80px;
  }
}
